{{budget.name}}
<ul>
  <li>
    {{input value=payment.name}} {{input value=payment.amount}}
    <button {{action 'addPayment'}} > +</button> 
  </li>
  {{#each budget.payments as |pay|}}
    <li> {{pay.name}} {{pay.amount}}€</li>
  {{/each}}
</ul>
{{outlet}}
