<h3>{{budget.name}}</h3>
Zahlungen:
<table class="Zahlungen">
  <tr>
    <td>
      {{input value=payment.name}}
    </td>
    <td>
      {{input value=payment.amount}}
    </td>
    <td>
      <button {{action 'addPayment'}} > +</button>
    </td>
  </tr>
  {{#each budget.payments as |pay|}}
  <tr>
    <td>
      {{pay.name}}
    </td>
    <td>
      {{pay.amount}}
    </td>
    <td>
      {{pay.date}}
    </td>
  </tr>
  {{/each}}
</table>
{{outlet}}
