<ul class="inline">
  {{#each budgets as |budget|}}
    <li class="budget-distribute">
      <p class="upper-right remaining">
        {{balance-display budget.remaining}}
      </p>
      <h3> {{budget.name}}</h3>
      <progress value={{budget.percentage}} max="100">{{budget.percentage}}</progress>
      <br>
      <p class="label">
        Budget
      </p>
      {{input type="number" value=budget.amount}}
    </li>
  {{/each}}
</ul>
<p class="total-remaining center">
  Verbleibend {{balance-display remaining}}
</p>


{{outlet}}
