


<ul class="budget-list">
  {{#each model as |budget|}}
    <li class="budget-list-item"> {{#link-to 'budgets.budget' budget}}
      <p class="upper-right remaining">
        {{balance-display budget.remaining}}
      </p>
       <h3> {{budget.name}} </h3>
      <progress value={{budget.percentage}} max="100">{{budget.percentage}}</progress>

       {{/link-to}}
     </li>
  {{/each}}
</ul>
<div class="center">
  {{link-to "Verteilen" 'budgets.distribute' class="distribute-link"}}
  {{#link-to 'budgets.new'}}
   <span class="plus-sign"> + </span>
  {{/link-to}}
</div>



{{outlet}}
