


<ul class="budget-list">
  {{#each model as |budget|}}
    <li class="budget-list-item"> {{#link-to 'budgets.budget' budget}}
      <p class="upper-right remaining">
        {{balance-display budget.remaining}}
      </p>
       <h3> {{budget.name}} </h3>
      <progress value={{budget.percentage}} max="100">{{budget.percentage}}</progress>

       {{/link-to}}
     </li>
  {{/each}}
</ul>
<div class="center">
  {{#link-to 'budgets.new'}}
   <span class="plus-sign budget-new-symbol"> + </span>
  {{/link-to}}

  {{#link-to 'budgets.distribute' class="distribute-link"}}
 <svg class="icon" width="32px" height="32px">
     <path class="path1" d="M27 7l-6 11h12zM7 7l-6 11h12zM19.828 4q-0.219 0.625-0.711 1.117t-1.117 0.711v20.172h9.5q0.219 0 0.359 0.141t0.141 0.359v1q0 0.219-0.141 0.359t-0.359 0.141h-21q-0.219 0-0.359-0.141t-0.141-0.359v-1q0-0.219 0.141-0.359t0.359-0.141h9.5v-20.172q-0.625-0.219-1.117-0.711t-0.711-1.117h-7.672q-0.219 0-0.359-0.141t-0.141-0.359v-1q0-0.219 0.141-0.359t0.359-0.141h7.672q0.328-0.891 1.094-1.445t1.734-0.555 1.734 0.555 1.094 1.445h7.672q0.219 0 0.359 0.141t0.141 0.359v1q0 0.219-0.141 0.359t-0.359 0.141h-7.672zM17 4.25q0.516 0 0.883-0.367t0.367-0.883-0.367-0.883-0.883-0.367-0.883 0.367-0.367 0.883 0.367 0.883 0.883 0.367zM34 18q0 1.141-0.727 2.047t-1.836 1.422-2.258 0.773-2.18 0.258-2.18-0.258-2.258-0.773-1.836-1.422-0.727-2.047q0-0.172 0.547-1.266t1.437-2.727 1.672-3.055 1.594-2.875 0.875-1.563q0.281-0.516 0.875-0.516t0.875 0.516q0.063 0.109 0.875 1.563t1.594 2.875 1.672 3.055 1.437 2.727 0.547 1.266zM14 18q0 1.141-0.727 2.047t-1.836 1.422-2.258 0.773-2.18 0.258-2.18-0.258-2.258-0.773-1.836-1.422-0.727-2.047q0-0.172 0.547-1.266t1.437-2.727 1.672-3.055 1.594-2.875 0.875-1.563q0.281-0.516 0.875-0.516t0.875 0.516q0.063 0.109 0.875 1.563t1.594 2.875 1.672 3.055 1.437 2.727 0.547 1.266z"></path>
 </svg>

  {{/link-to}}


  <svg>
  <!-- symbol definition  NEVER draw -->
  <symbol id="sym01" viewBox="0 0 150 110">
    <circle cx="50" cy="50" r="40" stroke-width="8" stroke="red" fill="red"/>
    <circle cx="90" cy="60" r="40" stroke-width="8" stroke="green" fill="white"/>
  </symbol>

  <!-- actual drawing by "use" element -->
  <use xlink:href="#sym01"
       x="0" y="0" width="100" height="50"/>
  <use xlink:href="#sym01"
       x="0" y="50" width="75" height="38"/>
  <use xlink:href="#sym01"
       x="0" y="100" width="50" height="25"/>
  </svg>
</div>



{{outlet}}
