<h2> {{model.name}}</h2>
<p>
  Noch {{moment-duration model.due 'month'}}
</p>

<p>
  Ziel: {{model.amount}} €
</p>

<p>
  Bisher gesparter Betrag: {{model.balance}} €
  <progress value={{model.percentage}} max="100">{{model.percentage}}</progress>
</p>

<p>
  Monatlich zugewiesener Betrag: {{model.rate}} €
</p>


{{outlet}}
