<form {{action 'save' on=submit }}>
  Name: {{input value=model.name}}
  betrag: {{input type=number value=model.amount}}
  Rate: {{input type=number value=model.rate}}
  <button {{action 'save'}}>Speichern</button>
</form>

{{outlet}}
