<form {{action 'save' on=submit }}>
  Name: {{input value=goal.name}}
  betrag: {{input type=number value=goal.amount}}
  Rate: {{input type=number value=budget.amount}}
  <button {{action 'save'}}>Speichern</button>
</form>

{{outlet}}
