<h2 class="center"> Erstelle eine neues Ziel</h2>
<form {{action 'save' on=submit }} class="goal-form">
  <div class="input-wrapper">
    <label for="name"> Name:</label>
   {{input value=goal.name}}
  </div>
  <div class="input-wrapper">
    <label> Zielbetrag:</label>
    {{input type="number" value=goal.amount}}
  </div>
  <div class="input-wrapper">
    <label> Rate:</label>
     {{input type="number" value=budget.amount placeholder=0 min=0}}
  </div>
  <div class="input-wrapper">
    Zeit bis zum Ziel {{moment-duration due 'month'}}
  </div>
  <div class="input-wrapper">
    <button {{action 'save'}}>Speichern</button>
  </div>


</form>

{{outlet}}
