<div>
  {{link-to "Verteilen" 'budgets.distribute'}}
</div>

<ul class="unstyled">
  {{#each model as |budget|}}
    <li> {{#link-to 'budgets.budget' budget}}
      {{budget.name}}
      Bereits genutzt: {{budget.percentage}}%
      Noch verfügbar: {{budget.remaining}}€
       {{/link-to}}
       <button {{action 'delete' budget}} class="right"> Löschen </button>
     </li>
  {{/each}}
</ul>


{{outlet}}
