<ul>
  {{#each model as |budget|}}
    <li> {{#link-to 'budgets.budget' budget}}
      {{budget.name}}
      {{budget.amount}}€
      Bereits genutzt: {{budget.balance}} €
       <button {{action 'delete' budget}}> Löschen </button>
       {{/link-to}}
     </li>
  {{/each}}
</ul>

<p>
  Noch zur Verfügung stehend: {{sum}}
</p>
{{outlet}}
