<ul class="inline">
  {{#each model as |goal|}}
    <li>
      {{link-to goal.name 'goals.goal' goal}}
      <br>
      <progress value={{goal.percentage}} max="100">{{goal.percentage}}</progress>
     </li>
  {{/each}}
{{link-to '+' 'goals.new'}}
</ul>

{{outlet}}
